
@import "tailwindcss";


#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background:linear-gradient(135deg, #111827 0%, #1f2937 50%, #374151 100%); */
  background: #edf9ff;
}


